<p id="notice"><%= notice %></p>

<h1>Guest book</h1>

<table>
  <thead>
    <tr>
      <th>Nick</th>
      <th>Email</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.nick %></td>
        <td><%= entry.email %></td>
        <td><%= entry.content %></td>
        <td><%= link_to 'Show', entry %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry', new_entry_path %>

<%= link_to 'Start a job', workers_path, method: :post %>